<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <script src="{{ site.baseurl }}/assets/jquery.js"></script>
  <script src="https://cdn.bootcss.com/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML" async></script>
  <script src="{{ site.baseurl }}/assets/toc.js"></script>

  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/apple-touch-icon-precomposed.png" />
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico" />
</head>
