<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
        {% if page.title == "Home" %}
        {{ site.title }} &middot; {{ site.tagline }}
        {% else %}
        {{ page.title }} &middot; {{ site.title }}
        {% endif %}
    </title>

    <!--[if gte IE 9]><!-->
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            jax: ["input/TeX","output/HTML-CSS"],
            extensions: ["tex2jax.js"],
            TeX: {
                extensions: ["AMSmath.js","AMSsymbols.js","newcommand.js","unicode.js","noUndefined.js"]
            },
            "HTML-CSS": {
                linebreaks: {
                    automatic: true,
                    width: "container"
                }          
            },
            displayAlign: "left",
            displayIndent: "0em",
            tex2jax: {
                inlineMath: [['$','$']],
                displayMath: [['$$','$$']],
                skipTags: ["script","noscript","style","textarea","pre","code"],
                processEscapes: true
            }
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js" async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<![endif]-->
    <script src="{{ site.baseurl }}/assets/toc.js"></script>
    <!--[if lt IE 9>
        <script src="{{ site.baseurl }}/assets/css3mq.js"></script>
        <script src="{{ site.baseurl }}/assets/html5.js"></script>
        <style>article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}</style>
        <script>(function(){var e="ly-d,ly-b,ly-e,ly-q,ly-r,ly-a,ly-c,ly-old,ly-rep".split(','), i=e.length;while(i-=1)
            {document.createElement(e[i]);}})();
        </script>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                displayAlign: "left",
                displayIndent: "0em",
                tex2jax: {
                    inlineMath: [['$','$']],
                    displayMath: [['$$','$$']],
                    skipTags: ["script","noscript","style","textarea","pre","code"],
                    processEscapes: true
                }
            });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=Tex-AMS_HTML" async></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <![endif]-->
    <script>
        function setCookie(key, value) {
            var expires = new Date();
            expires.setTime(expires.getTime() + (1 * 365 * 24 * 60 * 60 * 1000));
            document.cookie = key + '=' + value +';path=/'+ ';expires=' + expires.toUTCString();
        }
        function getCookie(key) {
            var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
            return keyValue ? keyValue[2] : null;
        }
    </script>
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/apple-touch-icon-precomposed.png" />
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico" />
</head>
