// Body resets
//
// Update the foundational and global aspects of the page.

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;

  @media (min-width: $large-breakpoint) {
    font-size: $large-font-size;
  }
}

body {
  color: $body-color;
  background-color: $body-bg;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  color: $link-color;
  text-decoration: none;

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    text-decoration: underline;
  }

  strong {
    color: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

table {
  //margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border: 1px solid $border-color;
  border-collapse: collapse;
  &.transparent, &.struct {
    border: none !important;
    td, th {
      border: none !important;
      background-color: transparent !important;
    }
  }
  // Tables that are used to form a page structure
  &.struct {
    td,th {
      padding: 0 !important;
    }
  }
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid $border-color;
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: $gray-1;
}

u {
  text-decoration: underline;
}

ol.circled {
  list-style: none;
}
ol.circled > li {
  margin-bottom: 5px;
  &:nth-child(1):before {
    content: "\2460";
  }
  &:nth-child(2):before {
    content: "\2461";
  }
  &:nth-child(3):before {
    content: "\2462";
  }
  &:nth-child(4):before {
    content: "\2463";
  }
  &:nth-child(5):before {
    content: "\2464";
  }
  &:nth-child(6):before {
    content: "\2465";
  }
}
/* Firefox only */
@counter-style circled {
  system: fixed;suffix: " ";
  symbols: ① ② ③ ④ ⑤ ⑥ ⑦ ⑧ ⑨ ⑩ ⑪ ⑫ ⑬ ⑭ ⑮ ⑯ ⑰ ⑱ ⑲ ⑳;
}
