// Styles specially for encoding the notebook

// every post is a chapter.
// h1: Lesson titles(middle)
// h2: Caption

// Math definitions
ly-d {
    display: block;
    overflow: auto;
}

// Math notations(LaTeX rendered using `$' pairs)
// {
//    display: inline;
//}

// Block math notations under definitions
// to explain how to use the definition(LaTeX rendered using `$$' pairs)
ly-b {
    display: block;
    overflow: auto;
}

// Examples
ly-e {
    display: block;
    overflow: auto;
}

// Laoyin quotes
ly-q {
    display: block;
    overflow: auto;
    margin: 2rem 0rem 1.5rem 1.5rem;
    border-left: 0.5rem solid #DDD;
}

ly-q:before {
	content: '“';
	content: open-quote;
}

ly-q:after {
	content: '”';
	content: close-quote;
}
ly-q ly-q:before {
	content: '‘';
	content: open-quote;
}
ly-q ly-q:after {
	content: '’';
	content: close-quote;
}

// Not appropriate words/sentences
ly-r {
    display: none;
}

// Added by writer
ly-a {
    display:inline;
}

// You should put the img tag before the text context so that it displays near it
img {
    float: right;
    clear: right;
}

.MathJax {
    outline: 0;
}
