// Styles specially for encoding the notebook

// h1: Unit titles(middle)
// h2: Lesson titles(middle)
// h3: Caption

// Math definitions
ly-d {
}

// Math notations(LaTeX rendered)
ly-m {
}

// Block math notations(LaTeX rendered)
ly-b {
    display: block;
}

// Examples
ly-e {
    display: block;
}

// Laoyin quotes
ly-q {
    display: block;
}

// Not appropriate words/sentences
ly-r {
    display: none;
}

// Added by writer
ly-a {
}
