// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: 1rem;
  nav {

  }
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: $gray-4;

  a {
    color: inherit;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    opacity: .5;
  }
}

// Styles for the navigator menu
#toc, #sitemenu, #options {
  display: none; // So they won't display if javascript isn't enabled
  border: 1px solid #e5e5e5;
  padding-top: 0.25em;
}

#options {
  padding-left: 0.5em;
  padding: 0.25em 0 0.5em 0.5em;
}

#tabs {
  margin: 0;
}

div#tabs {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 0.05rem solid #e5e5e5;
}

td.tabs {
  text-align: center;
}
