// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding: 1rem 0.5rem 0.5rem;
  // Big screens
  @media screen and (min-width: $large-breakpoint) {
    box-shadow: 2px 2px 3px #aaaaaa;
    background-color: $body-bg;
  }
  // Small screens
  @media screen and (max-width: $large-breakpoint) {
    border-bottom: 1px solid $border-color;
    background-color: $gray-4;
  }
}
.masthead-title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  @media screen and (min-width: $large-breakpoint) {
    color: $gray-4;
    background-color: $body-bg;
  }
  @media screen and (max-width: $large-breakpoint) {
    color: $body-bg;
    background-color: $gray-4;
  }

  a {
    color: inherit;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    opacity: .5;
  }
}

// Styles for the navigator menu
#toc, #sitemenu, #options {
  display: none; // So they won't display if javascript isn't enabled
  background-color: $body-bg;
  border: 1px solid $border-color;
  border-top: 0;
  padding-top: 0.25em;
  margin-bottom: 0;
}

#options {
  padding: 0.25em 0 0.5em 0.5em;
}

td.tabs {
  text-align: center;
  a {
    color: $gray-4;
  }
  background-color: $body-bg !important;
}

#notmoving {
  margin: 0;
}

#dropdown {
  max-height: 30%;
  overflow-y: scroll;
  margin: 0;
  background-color: $body-bg;
}
