<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <noscript><h1 class="message">您的浏览器不支持JavaScript，您将无法正确领略老尹的伟大智慧</h1></noscript>
      <div class="container content">
        <header class="masthead">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <br />
            <small>{{ site.tagline }}</small>
          </h3>
          <nav>
            <div id="tabs">
              <table class="tabs">
                <tr>
                  <td class="tabs"><a href="javascript:toggleToc();">本篇目录</a></td>
                  <td class="tabs"><a href="javascript:toggleMenu();">总目录</a></td>
                  <td class="tabs"><a href="javascript:toggleOptions();">显示选项<a></td>
                </tr>
              </table>
              <div id="toc"></div>
              <div id="sitemenu">
                <ul>
                  <li>
                    <a href="{{ site.baseurl }}/">首页</a>
                  </li>
                  {% assign psts = site.posts | reverse %}
                  {% for p in psts %}
                  <li>
                    <a href="{{ site.baseurl }}/{{ p.url }}">{{ p.title }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <div id="options">
                <p>显示：</p>
                <form>
                  <input type="checkbox" name="showlyq" id="showlyq" checked /><label for="showlyq">老尹语录</label>
                  <br />
                  <input type="checkbox" name="showexam" id="showexam" checked /><label for="showexam">例题</label>
                  <br />
                  <input type="checkbox" name="onlylyq" id="onlylyq" /><label for="onlylyq">只看老尹语录</label>
                  <br />
                  <input type="checkbox" name="showorig" id="showorig" /><label for="showorig">原文（否则是我修改过的）</label>
                </form>
              </div>
            </div>
          </nav>
          <script>
$("#showlyq").click(function() {
  if ($(this).prop("checked")) {
    setCookie("showlyq", "true");
    $("ly-q").show();
  } else {
    setCookie("showlyq", "false");
    $("ly-q").hide();
    if ($("#onlylyq").is(":checked")) {
      $("#onlylyq").click();
    }
  }
});
$(window).resize(resizeTitleBar);
$("#showexam").click(function() {
  if ($(this).prop("checked")) {
    setCookie("showexam", "true");
    $("ly-e").show();
    if ($("#onlylyq").is(":checked")) {
      $("#onlylyq").click();
    }
  } else {
    setCookie("showexam", "false");
    $("ly-e").hide();
  }
});
$("#onlylyq").click(function() {
  if ($(this).prop("checked")) {
    setCookie("onlylyq", "true");
    if (!$("#showlyq").is(":checked")) {
      $("#showlyq").click();
    }
    $("main").find("*").hide();
    $("main").find("ly-q").show();
    $("main").find("ly-q").parents().show();
    $("main").find("br").show();
    if ($("#showexam").is(":checked")) {
      $("#showexam").click();
    }
    if ($("#showorig").is(":checked")) {
      $("#showorig").click();
    }
  } else {
    setCookie("onlylyq", "false");
    $("main").find("*").show();
    $("main").find("ly-r").hide();
    $("main").find("ly-old").hide();
    $("main").find(".hidden").hide();
    if (!$("#showexam").is(":checked")) {
      $("ly-e").hide();
    }
    $("script[type*='math/tex']").hide();
  }
});
$("#showorig").click(function() {
  if ($(this).prop("checked")) {
    setCookie("showorig", "true");
    $("ly-r").css("display", "inline");
    $("ly-a").css("display", "none");
    if ($("#onlylyq").is(":checked")) {
      $("#onlylyq").click();
    }
  } else {
    setCookie("showorig", "false");
    $("ly-a").css("display", "inline");
    $("ly-r").css("display", "none");
  }
});
        </script>
        </header>
        <main>
          <div class="hidden" style="display:none">$\newcommand{\paral}{\unicode{x25B1}}$</div>
          {{ content }}
        </main>
        <footer class="footer">
          <small>
            &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> Zhang Maiyun. All rights reserved.
          </small>
        </footer>
        <div id="adjustheight" style="height:0;"></div>
      </div>
  </body>
</html>
